*{
    margin: 0;
}
body{
    background-image: url(image/news.png);
    background-repeat: no-repeat;
    background-size:cover;
    
    
}
header{
	width: 100%;
	background: #000000;
	height:80px;
}
a{
    text-decoration:none;
	
}
.shapka{
    width: 6%;
	padding-left: 445px;
    padding-top: 13px;

    

}

.home{
    color: #8C8C8C;
    font-family:"Sawarabi Gothic";
    position: relative;bottom: 50px;left: 550px;
    font-size:22px;
    transition: 0.2s ease-out 0.0001s;
	background-color:rgba(255, 255, 255, 0);
	border: 0px;
	outline: none;
}
.home:hover{
	transform: scale(1.1);
}
nav{
    display: flex;
    justify-content : space-around;
    margin-inline-end:50%;
    
    
}

.c{
    background-image: url(image/black.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px 1000px;
    position: relative;
    top: 100px;
    
}
